html{
 box-sizing: border-box;
}

body, html{
 position: relative;
 height: 100%;
}
body{
 overflow-x: hidden;
}

*{
 box-sizing: inherit;
 margin: 0;
 padding: 0;
}

ul{
 list-style: none;
}

img{
 max-width: 100%;
}

a{
 display: inline-block;
 text-decoration: none;
}

.container{
 min-width: 320px;
 max-width: 1380px;
 width: 100%;
 margin: 0 auto;
}

@media (min-width: 820px){
 .container{
  padding: 0 20px;
 }
}