.accordion-title{
 text-align: center;
}

.list__item{
 margin-bottom: 30px;
}

.list__title{
 text-align: center;
}

.list__img-box{
 margin: 0 auto;
 max-width: 540px;
}

.list__img{
 width: 100%;
 height: 100%;
}

.accordion-inp{
 display: none;
}
.list__block{
 padding: 0px 0;
 max-height: 0;
 overflow: hidden;
 transition: all 0.5s;
 margin: 0 auto;
}

.accordion-inp:checked + .list__block{
 max-width: 600px;
 max-height: 100vh;
 overflow: visible;
 transition: all 0.5s;
}


@media (hover:hover){
 .list__item:hover .list__block{
  max-width: 600px;
  max-height: 100vh;
  overflow: visible;
  transition: all 0.5s;
 }
 
}
