.accordion-title{
 padding-top: 20px;
 margin-bottom: 30px;
 text-align: center;
 color: tomato;
 font-family: 'Lobster', cursive;
 font-size: 45px;
 font-weight: normal;
}

.list__item{
 margin-bottom: 10px;
 position: relative;
 z-index: 0;
}

.list__item label{
 display: block;
}

.list__title{
 color: #fff;
}

.list__img-box{
 margin: 0 auto;
 font-size: 0;
}

.list__img{
 width: 100%;
 height: 100%;
}

.accordion-inp{
 display: none;
}
.list__block img{
 padding: 0px 0;
 max-height: 0;
 overflow: hidden;
 transition: all 0.5s;
 margin: 0 auto;
 object-fit: contain;
}

.accordion-inp:checked ~ .list__block img{
 max-height: 100vh;
 overflow: visible;
 transition: all 0.5s;
}
.accordion-inp:checked + .list__info .list__icon-status{
 transform: rotate(0deg);
}
.accordion-inp:checked + .list__info .list__icon-status path{
 fill: tomato;
}

.list__info{
 margin-bottom: 10px;
 padding: 0 5px;
 padding-right: 15px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-bottom: 2px solid #fff;
}

.list__icon-status{
 transform: rotate(90deg);

 transition: all 0.5s;
}
.list__icon-status svg{
 display: inline-block;
 width: 13px;
}
.list__icon-status path{
 fill: #fff;
}

@media (hover:hover){
 .list__item:hover .list__block img{
  max-height: 100vh;
  overflow: visible;
  transition: all 0.5s;
 }
 label:active .list__icon-status path{
  fill: tomato;
 }
 
 .label:hover .list__icon-status{
  transform: rotate(0deg);
 }
 .accordion:hover .list__info{
  border-color: orange;
 }
 label:hover,
 .list:hover{
  cursor: pointer;
 }
 label:hover .list__icon-status{
  transform: rotate(0);
 }
}


@media (min-width: 820px){
 .accordion-title{
  margin-bottom: 50px;
 }
 .accordion-title{
  font-size: 50px;
 }
 .list__icon-status svg {
  width: 16px;
 }
 .list__img-box {
  max-width: 620px;
 }
}
@media (min-width: 1920px){
 .accordion-title{
  font-size: 65px;
 }
 .list__icon-status svg {
  width: 22px;
 }
}

